@using Sparta.BlazorUI.Data.UserManagementData
@if (Permissions.Any(x => x is RolePermissionModel))
{
    <div class="btn-group" role="group">
        @foreach (var rolePermission in Permissions.Where(x => x is RolePermissionModel).Select(x => (RolePermissionModel)x))
        {
            <input type="checkbox" class="btn-check" @bind="rolePermission.Selected" id="@($"check{rolePermission.Id}")"/>
            <label class="btn btn-outline-primary" for="@($"check{rolePermission.Id}")">@rolePermission.Name</label>
        }
    </div>
}
@foreach (var rolePermission in Permissions.Where(x => x is BaseRolePermissionModel).Select(x => (BaseRolePermissionModel)x))
{
    <li class="list-group-item">
        <div class="card">
            <div class="card-header">@rolePermission.BaseName</div>
            <ul class="list-group list-group-flush">
                <PermissionManagement Permissions="rolePermission.RolePermissions"/>
            </ul>
        </div>
    </li>
}

@code {
    [Parameter] public IList<IPermissionModel> Permissions { get; set; } = null!;
}