@inherits LayoutComponentBase

<PageTitle>Project Sparta</PageTitle>
<Images />
<div class="page">
    <NavMenu />

    <main style="padding-left:15rem">
        <article class="content px-4" style="margin-top: 3.5rem; height: calc(100vh - 3.5rem); overflow: auto; box-sizing: border-box;">
            @Body
        </article>
    </main>
</div>